<div class="col-span-3 rounded-xl p-6 text-center">
    <p>
        Si quieres contactar conmigo puedes hacerlo a través de<br>
        mi correo electrónico: <a class="text-blue-500 hover:text-blue-600" href="mailto:gavota.oyente-0h@icloud.com">gavota.oyente-0h@icloud.com</a><br>
        o a través de mi LinkedIn <a class="text-blue-500 hover:text-blue-600" href="https://www.linkedin.com/in/agustin-mita/">https://www.linkedin.com/in/agustin-mita/</a>
    </p>
</div>