---
import "devicon";
import SkillGrid from "@/components/body/SkillGrid.astro";
import ProfileIcon from "@/components/body/ProfileIcon.astro";
import ProjectCardMutiny from "@/components/body/ProjectCardMutiny.astro";
import ExperienceSection from "@/components/body/ExperienceSection.astro";
import FooterSpace from "@/components/partials/FooterSpace.astro";
import KnowledgeSectionOfficial from "@/components/body/KnowledgeSectionOfficial.astro";
import KnowledgeSectionNotOfficial from "@/components/body/KnowledgeSectionNotOfficial.astro"; 
import SideProjectCardMutiny from "@/components/body/SideProjectCardMutiny.astro";
import Footer from "@/components/body/Footer.astro";
import SectionAboutMe from "@/components/body/SectionAboutMe.astro";
---

<main class="container mx-auto">
    <h1 class="text-4xl font-bold mb-8 text-center">Mi Portafolio</h1>
    
    <div class=" flex flex-col md:grid grid-cols-3 gap-6">
        <!-- Sobre mí -->
        <SectionAboutMe />
        
        <!-- Foto -->
        <ProfileIcon />

        <!-- Habilidades -->
        <SkillGrid />
        
        <!-- Proyectos -->
        <ProjectCardMutiny />

        <!-- Experiencia -->
        <ExperienceSection />

        <!-- Conimientos reglados -->
        <KnowledgeSectionOfficial />

        <!-- Conimientos no reglados -->
        <KnowledgeSectionNotOfficial />

        <!-- Proyectos Varios-->
        <SideProjectCardMutiny />

        <!-- Footer -->
        <Footer />

        <!-- Espacio -->
        <FooterSpace />
    </div>
</main>