@import "./botstrap-layout.css";

/* Base de tailwinds */
@tailwind base;

/* Components de tailwinds */
@tailwind components;

/* Utilities de tailwinds */
@tailwind utilities;


/* Dark mode */
html.dark {
  background-color: #09090c;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

h1 {
  @apply text-2xl font-bold;
}



/* Main section */
.description-about-me {
  @apply p-4;

  p {
    @apply pb-2;
  }
}

.section-experience {

  summary, p {
    @apply pb-2;
  }
  section {
    @apply bg-white bg-opacity-10 backdrop-filter backdrop-blur-lg rounded-xl p-3 mb-3 shadow-lg;
  }
  section:nth-last-child(1) {
    @apply mb-0;
  }
  section h3 {
    @apply text-xl font-semibold mb-4;
  }
  section h3 span {
    @apply text-sm text-slate-300;
  }
  summary {
    @apply text-sm text-gray-300 cursor-pointer;
  }
  details {
    @apply select-none ps-3;
  }
}