---
import ThemeIcon from "./Theme/ThemeIcon.astro";
---

<header class="sticky top-0 z-50">
    <nav class="flex justify-between items-center position-relative p-4">
        <ul>
        </ul>
        <ThemeIcon />
    </nav>
</header>